.skills-category-content {
  margin: 0 3rem;
  border-radius: 7px;
  padding: 1rem;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.4);
}

.skills-category {
  margin: 2rem auto;
  border-bottom: 1px solid var(--background-color-tint);
  text-align: center;
}

.skills-item-list {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
