.work-data-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-right: 1rem;
}

.work-data-info {
  display: grid;
  grid-template-columns: 17rem 1fr;
  box-shadow: 0px 8px 8px -8px rgba(0, 0, 0, 0.3);
  padding-bottom: 2rem;
}

.work-data-info:last-of-type {
  margin-bottom: 1rem;
  box-shadow: none;
}

.work-period {
  font-weight: 600;
  padding-left: 1rem;
}

.work-description-position {
  font-size: 2rem;
  font-weight: 700;
  color: var(--text-color-hover);
}

.work-description-company {
  font-style: italic;
  font-weight: 600;
  margin: 0.5rem 0;
}

.work-description-resp {
  line-height: 1.5;
}

.main-resp {
  text-decoration: underline;
  font-weight: 500;
}

.main-resp-list {
  display: flex;
  flex-wrap: wrap;
}

.main-resp-item {
  margin: 0 1rem 0 1.5rem;
}

.main-resp-item span {
  position: relative;
  left: -7px;
}
