@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --aside-width: 14rem;
  --text-color-hover: #2c9ecd;
  --text-color: #536378;
  --background-color: #0a1825;
}

html {
  font-size: 62.5%;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: #e7e8e9;
}

/*Scrollbar styles*/
/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--text-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--background-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--text-color-hover);
}
