@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');

:root {
  --aside-width: 14rem;
  --main-width: 60rem;
  --text-color-dark: #0a1825;
  --text-color-mid: #536378;
  --text-color-light: #eaf5fa;
  --text-color-hover: #2c9ecd;
  --text-color-shadow: #0d2f3d;
  --text-color-tags: #858c92;
  --background-color: #0a1825;
  --background-color-tint: #3b4651;
  --background-light-color: rgb(231, 232, 233);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html {
  font-size: 62.5%;
  overflow: hidden;
}

body {
  overflow-x: hidden;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: var(--text-color-dark);
  background-color: var(--background-light-color);
}

/*Scrollbar styles*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--text-color-mid);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--background-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--text-color-hover);
}
